<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEC Sistema Extração Cadastros</title>
    <link rel="stylesheet" type="text/css" href="static/Auto_m.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">


</head>
<body class= "corpo">  
    <div class="header">
        <div class="wrapper">
            <svg>
                <text x="50%" y="40%" dy=".15em" text-anchor="middle">
                    SEC - Sistema Extração Cadastro
                </text>
            </svg>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="menu_site">
                <a href="PAINEL" class="inicio_site">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 8 13.5V10H6v3.5A1.5 1.5 0 0 1 4.5 15h-3A1.5 1.5 0 0 1 0 13.5V9.293l6-6a1 1 0 0 1 1.414 0zM7.5 1.5a1 1 0 0 1 1 0l6 6a1 1 0 0 1-1.414 1.414L8 3.707 1.914 8.914A1 1 0 0 1 .5 7.5l6-6z"/>
                    </svg>
                    Página Inicial
                </a>
            </div>
        <div class="painel">
            <h1>Lista Empregados</h1>
            <form id="data-form" action="/SEC/generate" method="post">
                <div class="form-group">
                    <label for="objetos">Insira as matrículas, apenas números (Máximo 500)</label>
                    <textarea id="objetos" name="data" rows="5" cols="25" required></textarea><br>
                </div>
                <button type="submit" class="btn">Gerar Relatório</button>
                <button type="button" class="limpar-btn" onclick="document.getElementById('objetos').value = '';">Limpar Matrícula</button>
            </form>
            <div id="message-container" style="display: none;">
                <p class= "message-container"> Aguarde o download do relatório!</p>
            </div>
        </div>
    </div>      
    <script>
        document.getElementById('data-form').addEventListener('submit', function(event) {
            document.getElementById('message-container').style.display = 'flex','padding:80%';
        });
    </script>
</body>
</html>


